pom.xml*
node_modules
**/.shadow-cljs/**
**/.cpcache/**
.cpcache
.DS_STORE
.nrepl-port
.local-config.edn
*.iml
.idea
.scratch
project.clj
target
demo/public
**/compiled/**
**/out/**
website/public/js
website/public/*.html
package.json
package-lock.json
yarn.lock