pom.xml*
node_modules
**/.shadow-cljs/**
**/.cpcache/**
.cpcache
.DS_STORE
.nrepl-port
.local-config.edn
*.iml
.idea
.scratch
project.clj
target
demo/public
**/compiled/**
website/public/js
website/public/*.html