{:paths []
 :aliases {:test {:extra-paths ["view/test"
                                "db/test"]
                  :extra-deps {reagent {:mvn/version "1.0.0-alpha2"}}}}
 :deps {thheller/shadow-cljs {:mvn/version "2.11.5"}
        org.clojure/test.check {:mvn/version "1.1.0"}

        applied-science/js-interop {:mvn/version "0.2.7"}

        chia/db {:local/root "db"}
        chia/reactive {:local/root "reactive"}
        chia/util {:local/root "util"}
        chia/view {:local/root "view"}}}
