{:paths   []
 :aliases {:test {:extra-paths ["view/test"
                                "db/test"]
                  :extra-deps  {reagent            {:mvn/version "0.8.1"}
                                rum                {:mvn/version "0.11.3"}
                                fulcrologic/fulcro {:mvn/version "2.8.11"}
                                lilactown/hx       {:mvn/version "0.5.0-SNAPSHOT"}
                                roman01/uix        {:git/url "https://github.com/roman01la/uix.git"
                                                    :sha     "8dcbac34fde7db42586e25a6b7882008f2db8d17"}
                                hicada             {:mvn/version "0.1.8"}

                                re-view            {:mvn/version "0.4.15"}}}}
 :deps    {org.clojure/clojure       {:mvn/version "1.10.0"}
           org.clojure/clojurescript {:mvn/version "1.10.520"}
           org.clojure/test.check    {:mvn/version "RELEASE" #_"0.10.0-alpha3"}

           applied-science/js-interop {:mvn/version "0.2.5"}

           chia/routing              {:local/root "routing"}
           chia/db                   {:local/root "db"}
           chia/reactive             {:local/root "reactive"}
           chia/jss                  {:local/root "jss"}
           chia/util                 {:local/root "util"}
           chia/view                 {:local/root "view"}
           chia/material-ui          {:local/root "material-ui"}
           chia/lazy                 {:local/root "lazy"}}}
