{chia/db {:mvn/version "0.0.0"
                 :project/description "Reactive triple-store"}
 chia/gesture {:mvn/version "0.0.0"
               :project/description "Gesture (user-input) system"}
 chia/routing {:mvn/version "0.0.0-i"
               :project/description "Route event-handling and parsing"}
 chia/view {:mvn/version "0.0.0"
            :project/description "Reactive views"}
 chia/reactive {:mvn/version "0.0.0"
                :project/description "Dataflow graph"}
 chia/static {:mvn/version "0.0.6-g"
              :project/description "Static asset utilities"}
 chia {:mvn/version "0.0.0"
       :project/description "ClojureScript app stack"
       :local/root "."}}