{:deps   true
 :builds {:test    {:target           :browser-test
                    :test-dir         "demo/public/compiled/browser-tests"
                    ;:ns-regexp "context-test$"
                    :compiler-options {:static-fns false}
                    :devtools         {:http-port 8021
                                       :http-root "demo/public/compiled/browser-tests"}}
          :bench   {:target     :browser
                    :modules    {:main {:entries [chia.view.bench]}}
                    :output-dir "demo/public/compiled/bench"
                    :devtools   {:http-port 8031
                                 :http-root "demo/public/compiled/bench"}}}}