/*$mdc-theme-primary: #23005e; //#230a62;*/
/*$mdc-theme-accent: #c51162; //#d50c6f;*/
/*$mdc-theme-background: #fff;*/


a, a:visited {
    color: darkblue;
}

.mdc-theme--primary-bg-dark {
    background-color: #180034;
}

html, body, #app {
    min-height: 100%;
    margin: 0;
}

blockquote {
    border-left: 3px solid #ddd;
    padding-left: 1rem;
    margin-left: 0;
    opacity: 0.6;
}

blockquote:after, blockquote:before {
    display: none;
}

/*@for $i from 1 through 10 {*/
/*    .bg-darken-#{$i} {*/
/*        background-color: rgba(0, 0, 0, 0.025 * $i);*/
/*    }*/
/*}*/

/*@for $i from 1 through 10 {*/
/*    .hover-bg-darken-#{$i}:hover {*/
/*        background-color: rgba(0, 0, 0, 0.025 * $i);*/
/*    }*/
/*}*/

/*@for $i from 1 through 10 {*/
/*    .b--darken-#{$i} {*/
/*        border-color: rgba(0, 0, 0, 0.025 * $i);*/
/*    }*/
/*}*/

/*@for $i from 1 through 10 {*/
/*    .hover-o-#{$i * 10}:hover {*/
/*        opacity: $i / 10;*/
/*    }*/
/*}*/

input, textarea, select, button {
    color: inherit;
}


a.color-inherit, .color-inherit {
    color: inherit;
}

/*.mdc-theme--dark a {*/
/*    color: white; //var(--mdc-theme-accent, white);*/
/*}*/

/*.mdc-toolbar--active-link:after {*/
/*&:after {*/
/*     content: "";*/
/*     position: absolute;*/
/*     left: 0;*/
/*     right: 0;*/
/*     bottom: -4px;*/
/*     height: 4px;*/
/*     background-color: var(--mdc-theme-accent, deeppink);*/

/* }*/
/*}*/
/*.mdc-theme--accent-border {*/
/*    border-color: var(--mdc-theme-accent, deeppink);*/
/*}*/

/*.mdc-simple-menu .mdc-list-item.mdc-ripple-upgraded {*/
/*    left: 0;*/
/*}*/

.mdc-select {
    margin-bottom: 1px;

&
:focus {
    box-shadow: 0 1px 0 0 var(--mdc-theme-primary, #3f51b5);
    background-color: transparent;
}

}

.shadow-5 {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.focus-shadow-5-blue:focus {
    box-shadow: 1px 1px 1px 1px rgba(0, 69, 255, 0.3);
}

/*.prosemirror-content {*/

/*table {*/
/*    border-collapse: collapse;*/
/*    margin: 1em 0;*/
/*}*/

/*td {*/
/*    border: 1px solid #ddd;*/
/*}*/
/*pre {*/
/*    padding: 0.25rem;*/
/*    background: rgba(0, 0, 0, 0.02);*/
/*}*/

/*}*/

table {
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
}

.text-shadow {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}

.svg-shadow {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.5))
}

.serif {
    font-family: 'Vollkorn', georgia, times, serif;
}


.markdown-copy a {
    opacity: 0.7;
}

.markdown-copy a:hover {
    opacity: 1;
}

.markdown-copy a[href^="http"]:after {
    content: ""
}


p, ul, ol, table {
    max-width: 600px;
}

h1, h2, h3 {
    font-weight: normal;
}

table {
    font-size: 83%;
}

table code {
    font-size: 90%;
}

pre {
    background: rgba(0, 0, 0, 0.03);
    padding: 0.75rem;
    font-size: 13px;
    white-space: pre-wrap;

code {
    font-size: 13px;
}

p code, table code {
    background: rgba(0, 0, 0, 0.03);
    padding: 2px 4px;
}

table:not(.no-stripes) tr:nth-child(2n), thead tr {
    background-color: rgba(0, 0, 0, 0.025);
}

.mdc-theme--dark {
    color: white;

pre, p code {
    background: rgba(0, 0, 0, 0.2);
}

table:not(.no-stripes) tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.15);
}

.mdc-theme--dark-bg {
    background-color: #444;
}

.elevated-card {
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    border-bottom: 0.25rem solid #eee;
    border-radius: 0.25rem;
    background-color: white;
}

.bg-darken {
    background-color: rgba(0, 0, 0, 0.04);
}


.mdc-theme--dark .elevated-card {
    background-color: #333;
    border-color: #777;
}

.mdc-theme--dark .bg-darken {
    background-color: rgba(0, 0, 0, 0.175);
}

a.heading-anchor {
    text-decoration: none;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    left: -20px;
    bottom: 50%;
    margin-bottom: -11px;
    padding-top: 100px;
    width: 0;
    opacity: 0 !important;
}

a.heading-anchor:after {
    opacity: 0.5;
    content: "#";
    width: 0;
    position: absolute;
    bottom: 0;

a.heading-anchor:hover {
    opacity: 1;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-family: 'Vollkorn', georgia, times, serif;
    margin: 1rem 0;
}

*:hover a.heading-anchor {
    opacity: 1 !important;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.f0 {
    font-size: 4rem;
}

.mw-page {
    max-width: 48rem;
}

.w6 {
    max-width: 40rem;
}