{:paths ["src"]

 :deps {org.clojure/clojurescript {:mvn/version "1.10.520"}

        chia/util {:local/root "../util"}
        ring/ring-codec {:mvn/version "1.1.1"}
        lambdaisland/uri {:mvn/version "1.1.0"}}}
