{:paths ["src"]

 :deps  {org.clojure/clojure       {:mvn/version "1.9.0"}
         org.clojure/clojurescript {:mvn/version "1.10.520"}

         chia/view                 {:local/root "../view"}
         chia/routing              {:local/root "../routing"}
         chia/db                   {:local/root "../db"}
         chia/jss                  {:local/root "../jss"}
         chia/material-ui          {:local/root "../material-ui"}

         mhuebert/cljs-static      {:git/url "https://www.github.com/mhuebert/cljs-static"
                                    :sha "3c9c4775e5c9785325dec995cd6bd5c396eec642"}

         org.clojure/core.match    {:mvn/version "0.3.0-alpha5"}}}