{:deps     true
 :dev-http {8706 "public"}
 :builds   {:website     {:target           :browser
                          :modules          {:website {:init-fn website.core/init}}
                          :output-dir       "public/js"
                          :asset-path       "/js"
                          :compiler-options {:language-in :es5}
                          :build-hooks      [(static.shadow/write-assets!
                                               {:public-path "public"
                                                "index.html" website.static/index})
                                             (static.assets/copy!
                                               {"src/docs" "public/docs"})]}
            :demo        {:target      :browser
                          :modules     {:app {:entries [chia-demo.app]}}
                          :output-dir  "demo/public/compiled"
                          :asset-path  "/compiled"
                          :build-hooks [(static.shadow/write-assets!
                                          {"../index.html" chia-demo.html/index})]
                          :devtools    {:http-root "demo/public"
                                        :http-port 8080}}
            :demo-worker {:target     :browser
                          :modules    {:worker {:entries    [chia-demo.worker]
                                                :web-worker true}}
                          :output-dir "demo/public"}}}